
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    var viewModel = ( iConnect.Presentation.MeetingRoomService.MeetingRoomEntity[] )this.ViewData[ "MeetingRoomDetails" ];  
}

<div class="container-fluid customContainer">
    <div class="row">
        <div class="col col-lg-7">
            <div class="panel panel-primary">...</div>
        </div>
        <div class="col col-lg-5">
            <div class="panel panel-primary">...</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-7">
            <div class="panel panel-primary">...</div>
        </div>
        <div class="col col-lg-5">
            <div class="panel panel-primary">...</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4">
            <div class="panel panel-primary">...</div>
        </div>
        <div class="col col-lg-4" onclick="iConnect.Announcement.LoadAnnouncement()">
            <div class="panel panel-primary">...</div>
        </div>
        <div class="col col-lg-4">
            <div class="panel panel-primary">...</div>
        </div>
    </div>

</div>