@Html.Hidden("hdnFilePath")
<table border="0" width="400px">
    <tr>
        <td align="center">
            <input type="file" name="file1" id ="file1" style="border-bottom-style: groove; border-width: 0px" />
        </td>
    </tr>
</table>

<script type="text/javascript">
    $("#file1").val('');
</script>