<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="SkillGapEntities" connectionString="metadata=res://*/SkillGapModel.csdl|res://*/SkillGapModel.ssdl|res://*/SkillGapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aspire715;initial catalog=SkillGap_DB;user id=Skilluser;password=!Password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>        
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="iConnect.WCFServiceLib.LoginService">
        <endpoint address="" binding="wsHttpBinding" contract="iConnect.WCFServiceLib.ILogin" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="iConnect.WCFServiceLib.Announcement">
        <endpoint address="" binding="wsHttpBinding" contract="iConnect.WCFServiceLib.IAnnouncement" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="iConnect.WCFServiceLib.MeetingRoomService">
        <endpoint address="" binding="wsHttpBinding" contract="iConnect.WCFServiceLib.IMeetingRoom" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
